<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout " lang="en">
<head>

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Shop-market.com</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" media="screen" rel="stylesheet" type="text/css">
    <link th:href="@{/webjars/jquery-ui/jquery-ui.min.css}" media="screen" rel="stylesheet" type="text/css">

    <link th:href="@{/webjars/font-awesome/6.1.0/css/all.min.css} " rel="stylesheet" type="text/css">
    <link th:href="@{/webjars/slick-carousel/1.8.1/slick/slick-theme.css} " rel="stylesheet" type="text/css">
    <link th:href="@{/webjars/slick-carousel/1.8.1/slick/slick.css} " rel="stylesheet" type="text/css">
    <link th:href="@{/css/font.css}" media="screen" rel="stylesheet" type="text/css">
    <link th:href="@{/css/iconfonts.css}" media="screen" rel="stylesheet" type="text/css">
<!--    <link th:href="@{/css/style.css}" media="screen" rel="stylesheet" type="text/css">-->
    <link th:href="@{/css/style_2.css}" media="screen" rel="stylesheet" type="text/css">
    <link th:href="@{/css/media.css}" media="screen" rel="stylesheet" type="text/css">



</head>
<body>

<div layout:fragment="header">

    <div th:replace="_layouts/fragments/header :: header"> This header content is going to be replaced.</div>

    <div th:replace="_layouts/fragments/menu :: menu"> This header content is going to be replaced.</div>
<!--    <div th:replace="_layouts/fragments/carusel :: carusel"> This header content is going to be replaced.</div>-->


<!--    <div th:replace="_layouts/fragments/hamburger :: hamburger"> This header content is going to be replaced.</div>-->


</div>

<div layout:fragment="content">




</div>

<div layout:fragment="footer">
    <footer th:insert="_layouts/fragments/foooter :: footer" >
<!--        <h1>This is the Layout's main section</h1>-->

    </footer>
</div>
<script th:src="@{/webjars/jquery/3.6.0/dist/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/slick-carousel/1.8.1/slick/slick.min.js}"></script>

<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<!--<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}" type="text/javascript"></script>-->

<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


<!--<script th:src="@{/webjars/font-awesome/6.1.0/js/all.min.js}"></script>-->
<script src="https://kit.fontawesome.com/e23fd2a944.js" crossorigin="anonymous"></script>

<!--<script th:src="@{/js/main.js}"  type="text/javascript"></script>-->
<script th:src="@{/js/main1.js}"  type="text/javascript"></script>


<th:block layout:fragment="scripts">

</th:block>

</body>
</html>