<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--    <link th:href="@{/webjars/select2/dist/css/select2.css}"/>-->
    <!--    <link th:href="@{/webjars/select2-bootstrap4-theme/dist/select2-bootstrap4.css}"/>-->

    <link th:rel="stylesheet" th:href="@{/css/select2-develop/dist/css/select2.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/select2-bootstrap4-theme-master/dist/select2-bootstrap4.css}"/>

    <link th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.css} " media="screen" rel="stylesheet"
          type="text/css">
    <link th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css} " media="screen"
          rel="stylesheet" type="text/css">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css} " media="screen" rel="stylesheet" type="text/css">
    <link th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css} " media="screen" rel="stylesheet" type="text/css">
    <link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css} " rel="stylesheet" type="text/css">
    <link th:href="@{/webjars/github-com-paroos-elegant-icons/1.0.0/css/style.css} " rel="stylesheet" type="text/css">
    <link th:href="@{/webjars/jquery-nice-select/1.1.0/css/nice-select.css} " rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/slicknav.min.css" media="screen" rel="stylesheet"
          type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.css" media="screen"
          rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" media="screen"
          rel="stylesheet" type="text/css">
    <link th:href="@{/css/shop_market.css}" media="screen" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style.css}" media="screen" rel="stylesheet" type="text/css">

</head>
<body>
<div class="container">
    <form class="form" action="#" th:action="@{/product/add}" method="post"
          th:object="${productModel}">

        <!--                    Product name-->
        <div class="form-group">
            <label class="control-label col-xs-3" for="ProductName" th:utext="#{label.product.name}">Product
                name:</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="ProductName"
                       th:field="*{productName}" th:errorclass="is-invalid">
                <span class="invalid-feedback" th:each="error: ${#fields.errors('productName')}"
                      th:utext="${error}">Validation error</span>
            </div>
        </div>
        <div class="form-group">
            <!--            <label for="category">Place of birth</label>-->
            <!--            <select id="category" class="form-control js-example-basic-single select2-single" th:value="${catalogList}">>-->
            <!--&lt;!&ndash;                                    <option value="">Search state</option>&ndash;&gt;-->

            <!--                <option th:each="global : ${catalogList}" th:utext="${global.getGlobalTypeName()}"-->
            <!--                        th:value="${global.getGlobalTypeName()}">Catalog-->
            <!--                </option>-->

            <!--            </select>-->


            <label class="control-label col-xs-3" for="birthplace" th:utext="#{label.product.globalType}">Product
                name:</label>
            <div class="col-xs-9">
                <select id="birthplace" class="js-example-basic-single form-control "
                        th:value="${catalogList}">
                    <!--                                <option value="">Search state</option>-->
                    <option th:each="global : ${catalogList}" th:utext="${global.getGlobalTypeName()}"
                            th:value="${global.getGlobalTypeName()}">Catalog
                    </option>
                </select>
            </div>
        </div>


    </form>
</div>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
<!--<script th:src="@{/webjars/select2/4.0.12/js/select2.full.js}"></script>-->
<script th:src="@{/webjars/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/owl.carousel/2.3.4/src/js/owl.carousel.js}" type="text/javascript"></script>

<script th:src="@{/css/select2-develop/dist/js/select2.full.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/jquery.slicknav.js" type="text/javascript"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"  type="text/javascript"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"  type="text/javascript"></script>-->
<script th:src="@{/js/shop_market.js}" src="/static/js/shop_market.js" type="text/javascript"></script>
<script th:src="@{/js/main.js}" type="text/javascript"></script>

<!--<script>-->
<!--    $("#category").select2({-->
<!--        theme: "bootstrap4",-->
<!--        ajax: {-->
<!--            url: '/product/add',-->
<!--            // dataType: 'json',-->
<!--            delay: 250,-->
<!--            processResults: function (response) {-->
<!--                return {-->
<!--                    results: response-->
<!--                };-->
<!--            },-->
<!--            cache: true-->
<!--        }-->
<!--    });-->
<!--</script>-->
<!--// In your Javascript (external .js resource or <script> tag)-->
<script>
    $(document).ready(function () {
        $('.js-example-basic-single').select2();
    });
</script>
</body>
</html>