<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{_layouts/layout}">
<head>

    <meta charset="UTF-8">
    <title>Registration</title>

    <link th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css} " media="screen"
          rel="stylesheet" type="text/css">
    <link th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.css} " media="screen" rel="stylesheet"
          type="text/css">

</head>
<body>

<div layout:fragment="header">
    <div th:replace="_layouts/fragments/header :: header"> This header content is going to be replaced.</div>
</div>

<div class="container">
    <div class="row">
        <div layout:fragment="content">

            <div>
                <h5 th:if="${message}!=null" ? class="alert alert-danger" th:utext="${message}"> success </h5>
            </div>


            <form class="form" action="#" th:action="@{/user/registration}" method="post"
                  th:object="${userForm}">

                <div class="form-row">
                    <!--                    First Name-->
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label for="firstName" class="control-label" th:utext="#{label.user.firstName}">First
                                name:</label>
                            <input type="text" class="form-control" id="firstName" th:field="${userForm.firstName}"
                                   th:errorclass="is-invalid">
                            <span class="invalid-feedback" th:each="error: ${#fields.errors('firstName')}"
                                  th:utext="${error}">Validation error</span>
                        </div>
                    </div>
                    <!--                    Last Name-->
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="lastName" th:utext="#{label.user.lastName}">Last
                                Name:</label>
                            <input type="text" class="form-control" id="lastName" th:errorclass="is-invalid"
                                   th:field="*{lastName}">
                            <span class="invalid-feedback" th:each="error: ${#fields.errors('lastName')}"
                                  th:text="${error}">Validation error</span>
                        </div>
                    </div>
                </div>

                <!--                    phones-->
                <div class="form-group">
                    <label class="control-label" for="phone" th:utext="#{label.user.phoneNumber}">Phone
                        number:</label>
                    <input type="text" class="form-control" id="phone" th:errorclass="is-invalid"
                           th:field="*{phoneNumber} "
                           placeholder="055-203-060">
                    <span class="invalid-feedback" th:each="error: ${#fields.errors('phoneNumber')}"
                          th:text="${error}">Validation error</span>
                </div>


                <!--                    Address-->
                <th:block th:each="address, stat:${userForm.addresses}">

                    <!--                                addressLine-->
                    <div class="form-group">
                        <label class="control-label " for="address"
                               th:utext="#{label.user.addressLine}">Address line:</label>
                        <input type="text" class="form-control" id="address" name="country"
                               th:field="*{addresses[__${stat.index}__].addressLine}"
                               placeholder="18/1 Araratyan Street">
                    </div>

                    <!--                                City-->
                    <div class="form-row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="city"
                                       th:utext="#{label.user.city}">City:</label>
                                <input type="text" class="form-control " id="city" name="country"
                                       th:field="*{addresses[__${stat.index}__].city}"
                                       placeholder="Artashat">
                            </div>
                        </div>
                        <!--                                province-->
                        <!--                        <div class="form-group">-->
                        <!--                            <label class="control-label col-xs-3" for="province"-->
                        <!--                                   th:utext="#{label.user.province}">Province:</label>-->
                        <!--                            <div class="col-xs-3">-->
                        <!--                                <input type="text" class="form-control" id="province" name="country"-->
                        <!--                                       th:field="*{addresses[__${stat.index}__].province}"-->
                        <!--                                       placeholder="Ararat">-->
                        <!--                            </div>-->
                        <!--                        </div>-->

                        <!--
                                               Country-->
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="country"
                                       th:utext="#{label.user.country}">Country:</label>
                                <input type="text" class="form-control " id="country" name="country"
                                       th:field="*{addresses[__${stat.index}__].country}"
                                       th:errorclass="is-invalid"
                                       placeholder="Armenia">
                                <span class="invalid-feedback"
                                      th:each="error: ${#fields.errors('addresses[__${stat.index}__].country')}"
                                      th:utext="${error}">Validation error</span>
                            </div>
                        </div>

                        <!--                                postal code-->
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label col-xs-3" for="postalCode"
                                       th:utext="#{label.user.postalCode}">Postal code:</label>
                                <input type="text" class="form-control " id="postalCode" name="country"
                                       th:field="*{addresses[__${stat.index}__].postalCode}"
                                       placeholder="1101">
                            </div>
                        </div>
                    </div>

                </th:block>

                <!--                                Gender-->
                <div class="form-check-inline">
                    <label class="form-check-label col-xs-3">
                        <input type="radio" class="form-check-input " id="male"
                               th:field="*{gender}" value="Male"> <span
                            th:utext="#{label.user.genderMale}">Male</span>
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label col-xs-3">
                        <input type="radio" class="form-check-input " id="female"
                               th:field="*{gender}" value="Female"> <span
                            th:utext="#{label.user.genderFemale}">Female</span>
                    </label>
                </div>


                <!--                    birthDate-->
                <div class="form-group">
                    <label class="control-label" for="birthDate" th:utext="#{label.user.birthDate}">Birth
                        date:</label>
                    <div class="input-group date">
                        <input type="text" class="form-control" id="birthDate" th:errorclass="is-invalid"
                               th:field="*{birthDate}" autocomplete="off">
                        <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-calendar"
                                                                      aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>


                <!--                    Email-->
                <div class="form-group">
                    <label class="control-label col-xs-3" for="inputEmail"
                           th:utext="#{label.user.email}">Email:</label>
                    <div class="col-xs-9">
                        <input type="email" class="form-control" id="inputEmail" th:field="*{email}"
                               placeholder="gagik@mail.ru" th:errorclass="is-invalid">
                        <span class="invalid-feedback" th:each="error: ${#fields.errors('email')}"
                              th:utext="${error}">Validation error</span>
                    </div>
                </div>


                <!--                    Password-->
                <div class="form-group">
                    <label class="control-label col-xs-3" for="inputPassword"
                           th:utext="#{label.user.password}">Password:</label>
                    <div class="col-xs-9">
                        <input type="password" class="form-control" id="inputPassword"
                               th:field="*{password}" th:errorclass="is-invalid">
                        <span class="invalid-feedback" th:each="error: ${#fields.errors('password')}"
                              th:utext="${error}">Validation error</span>
                    </div>
                </div>

                <!--                    Confirm password:-->
                <div class="form-group">
                    <label class="control-label col-xs-3" for="confirmPass"
                           th:utext="#{label.user.confirmPassword}">Confirm password:</label>
                    <div class="col-xs-9">
                        <input type="password" class="form-control" id="confirmPass"
                               th:field="*{passwordConfirm}" th:errorclass="is-invalid">
                        <span class="invalid-feedback" th:each="error: ${#fields.errors('passwordConfirm')}"
                              th:utext="${error}">Validation error</span>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-xs-offset-3 col-xs-9">
                        <label class="checkbox-inline">
                            <input type="checkbox" value="agree"> I agree with the <a
                                href="#">conditions</a>.
                        </label>
                    </div>
                </div>
                <br/>

                <div class="form-group">
                    <div class="col-xs-offset-3 col-xs-9">
                        <input type="submit" class="btn btn-primary" value="Submit">
                        <input type="reset" class="btn btn-outline-secondary" value="Reset form">
                        <a class="btn btn-outline-secondary" th:href="@{/}">Veradardz</a>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>
<th:block layout:fragment="scripts">
    <script th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>

    <script>
        $('.input-group.date').datepicker({
            autoclose: true,
            todayHighlight: true
        });
    </script>
</th:block>

</body>

</html>