<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>cards</title>

</head>
<body>
<th:block th:fragment="cards">

    <div class="container ">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            <div class="col mb-4 px-2 card__block">
                <div class="card card__item h-100 ">
                    <i class="fa-regular fa-heart"></i>
                    <div class="card__badge">
                        <div class="card__sale__badge">
                            <a href="#"><i class="fa-solid fa-tag px-2"></i> -23%</a>
                        </div>
                        <div class="card__new__badge">
                            <a href="#"><i class="fa-solid fa-bolt px-2"></i>latest</a>
                        </div>
                        <div class="card__akcia__badge">
                            <a href="#"><i class="fa-solid fa-stopwatch px-2"></i>promotion</a>
                        </div>
                    </div>
                    <div class="card__top">
                        <img src="" th:src="@{/img/product/elak.webp}" class="card-img-top mx-auto my-2 px-2" alt="...">
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Elak 500 gram</h6>
                        <p class="card__contents ">This is a longer card with supporting text below as a natural </p>
                        <div>
                            <h5 class="card__prise">5000<span class="card__contents">AMD</span></h5>
                            <h6 class="card__prise  pl-3">
                                <del class="text-muted">5000</del>
                                <span class="card__contents">AMD</span>
                            </h6>
                        </div>
                        <p class="card__contents"> art N 0152625</p>
                        <p class="card__contents mb-1"><i class="fa-solid fa-truck"></i> Tomorrow</p>
                        <p class="card__contents card__shopping__cart"><a href="#"><i class="fas fa-shopping-cart"></i></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col mb-4 px-2 card__block">
                <div class="card card__item h-100 ">
                    <i class="fa-regular fa-heart"></i>
                    <div class="card__badge">
                        <div class="card__sale__badge">
                            <a href="#"><i class="fa-solid fa-tag px-2"></i> -23%</a>
                        </div>
                        <div class="card__new__badge">
                            <a href="#"><i class="fa-solid fa-bolt px-2"></i>latest</a>
                        </div>
                        <div class="card__akcia__badge">
                            <a href="#"><i class="fa-solid fa-stopwatch px-2"></i>promotion</a>
                        </div>
                    </div>
                    <div class="card__top">
                        <img src="" th:src="@{/img/product/apelsin.webp}" class="card-img-top mx-auto my-2 px-2"
                             alt="...">
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Elak 500 gram</h6>
                        <p class="card__contents ">This is a longer card with supporting text below as a natural </p>
                        <div>
                            <h5 class="card__prise">5000<span class="card__contents">AMD</span></h5>
                            <h6 class="card__prise  pl-3">
                                <del class="text-muted">5000</del>
                                <span class="card__contents">AMD</span>
                            </h6>
                        </div>
                        <p class="card__contents"> art N 0152625</p>
                        <p class="card__contents mb-1"><i class="fa-solid fa-truck"></i> Tomorrow</p>
                        <p class="card__contents card__shopping__cart"><a href="#"><i class="fas fa-shopping-cart"></i></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col mb-4 px-2 card__block">
                <div class="card card__item h-100 ">
                    <i class="fa-regular fa-heart"></i>
                    <div class="card__badge">
                        <div class="card__sale__badge">
                            <a href="#"><i class="fa-solid fa-tag px-2"></i> -23%</a>
                        </div>
                        <div class="card__new__badge">
                            <a href="#"><i class="fa-solid fa-bolt px-2"></i>latest</a>
                        </div>
                        <div class="card__akcia__badge">
                            <a href="#"><i class="fa-solid fa-stopwatch px-2"></i>promotion</a>
                        </div>
                    </div>
                    <div class="card__top">
                        <img src="" th:src="@{/img/product/avocado.webp}" class="card-img-top mx-auto my-2 px-2"
                             alt="...">
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Elak 500 gram</h6>
                        <p class="card__contents ">This is a longer card with supporting text below as a natural </p>
                        <div>
                            <h5 class="card__prise">5000<span class="card__contents">AMD</span></h5>
                            <h6 class="card__prise  pl-3">
                                <del class="text-muted">5000</del>
                                <span class="card__contents">AMD</span>
                            </h6>
                        </div>
                        <p class="card__contents"> art N 0152625</p>
                        <p class="card__contents mb-1"><i class="fa-solid fa-truck"></i> Tomorrow</p>
                        <p class="card__contents card__shopping__cart"><a href="#"><i class="fas fa-shopping-cart"></i></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col mb-4 px-2 card__block">
                <div class="card card__item h-100 ">
                    <i class="fa-regular fa-heart"></i>
                    <div class="card__badge">
                        <div class="card__sale__badge">
                            <a href="#"><i class="fa-solid fa-tag px-2"></i> -23%</a>
                        </div>
                        <div class="card__new__badge">
                            <a href="#"><i class="fa-solid fa-bolt px-2"></i>latest</a>
                        </div>
                        <div class="card__akcia__badge">
                            <a href="#"><i class="fa-solid fa-stopwatch px-2"></i>promotion</a>
                        </div>
                    </div>

                    <div class="card__top">
                        <img src="" th:src="@{/img/product/dzmeruk.webp}" class="card-img-top mx-auto my-2 px-2"
                             alt="...">
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Elak 500 gram</h6>
                        <p class="card__contents ">This is a longer card with supporting text below as a natural </p>
                        <div>
                            <h5 class="card__prise">5000<span class="card__contents">AMD</span></h5>
                            <h6 class="card__prise  pl-3">
                                <del class="text-muted">5000</del>
                                <span class="card__contents">AMD</span>
                            </h6>
                        </div>
                        <p class="card__contents"> art N 0152625</p>
                        <p class="card__contents mb-1"><i class="fa-solid fa-truck"></i> Tomorrow</p>
                        <p class="card__contents card__shopping__cart"><a href="#"><i class="fas fa-shopping-cart"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</th:block>
</body>
</html>