<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>header</title>

</head>
<body>
<th:block th:fragment="header">

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <nav class="navbar  navbar-expand-lg navbar-light ">

                <div class="navbar-brand col-md-2 col-6">
                    <div class="logo">
                        <a th:href="@{/index}" class="logo__link"><img th:src="@{/img/interface/logo.svg}"
                                                                       alt="logo" src="">shopicon</a>
                    </div>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-expanded="false">
                                <span class="pr-2" th:utext="#{header.topMenu.business}">business</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <li><a class="dropdown-item" href="#">Shop Details</a></li>
                                <li><a class="dropdown-item" href="#">Shoping Cart</a></li>
                                <li><a class="dropdown-item" href="#">Check Out</a></li>
                                <li><a class="dropdown-item" href="#">Blog Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" th:utext="#{header.topMenu.recipes}">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" th:utext="#{header.topMenu.delivery}">Pages</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="#" th:utext="#{header.topMenu.payment}">Payment</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" th:utext="#{header.topMenu.reviews}">Contact</a>
                        </li>

                    </ul>

                    <div class="call__icon text-muted mr-4">
                        <div><i class="fas fa-phone-alt"></i>
                            <span th:utext="#{header.topMenu.phoneNumber}">+374-11-625-625</span>
                        </div>
                        <a class="nav-link text-muted" href="#" th:utext="#{header.topMenu.orderCall}">Order a call</a>
                    </div>

                    <!--                        <div class="call__icon">-->
                    <!--                            <span><i class="fas fa-phone-alt"> </i></span>-->
                    <!--                        </div>-->
                    <!--                        <div class="call__icon-text">-->
                    <!--                            <span><i class="fas fa-phone-alt"> </i></span>-->
                    <!--                            <div th:utext="#{header.topMenu.phoneNumber}">+374-11-625-625</div>-->
                    <!--                        </div>-->
                    <!--                        <span th:utext="#{header.topMenu.orderCall}">Order a call</span>-->


                </div>

                <div>
                    <div class=" text-muted header__top__right__language  " id="locales" >
                        <img th:src="@{img/interface/english.png}" alt="" src="">
                        <div>English</div>
                        <span class="arrow_carrot-down"></span>
                        <ul class="langlang">
                            <li><a  href="?lang=eng" >English</a></li>
                            <li><a  href="?lang=arm"  >Armenian</a></li>
                            <li><a href="?lang=ru" >Russian</a></li>
                        </ul>
                    </div>
                </div>

<!--                <div>-->
<!--                    <select id="locales">-->
<!--                        <option value=""></option>-->
<!--                        <option value="en" th:text="#{lang.eng}"></option>-->
<!--                        <option value="ru" >ru</option>-->
<!--                    </select>-->
<!--                </div>-->
                <div>
                    <div class=" header__top__right__auth ml-4">
<!--                        <a class="text-muted nav-link" href="#"><i class="fa fa-user"></i>Login</a>-->
                        <div class="header__top__right__auth">
                            <th:block sec:authorize="!isAuthenticated()">
                                <a class="text-muted nav-link"  href="" data-toggle="modal" data-target="#loginModal"><i class="fa fa-user" ></i> <span th:utext="#{modal.user.login}"></span></a>
                                <div   th:replace="_layouts/fragments/login :: login('loginModal')"></div>
                            </th:block>
                            <th:block sec:authorize="isAuthenticated()">
<!--                                <a class="text-muted nav-link"  th:href="@{/logout}"  ><i class="fa fa-sign-out" ></i> <span th:utext="#{modal.user.logOut}"></span></a>-->
                                <div class="dropdown">
                                    <a class="text-muted nav-link  dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-sign-out" ></i> <span th:utext="#{modal.user.logOut}"></span>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <div sec:authorize="hasRole('ADMIN')">
                                            <a class="dropdown-item" th:href="@{/admin/admin-panel}" th:utext="#{modal.user.adminPanel}">logout</a>
                                        </div>
                                        <a class="dropdown-item" th:href="@{/logout}" th:utext="#{modal.user.logOut}">logout</a>
                                        <a class="dropdown-item" href="#" th:utext="#{modal.user.account}">Account</a>
                                        <a class="dropdown-item" href="#" th:utext="#{modal.user.orderHistory}">Order history</a>
                                    </div>
                                </div>

                            </th:block>
                        </div>
                    </div>
                </div>
            </nav>

        </div>

    </header>

</th:block>



</body>
</html>