<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
<th:block th:fragment="menu">

    <header class="header shadow-sm mb-3">
        <div class="container ">
            <nav class="navbar  navbar-expand-lg navbar-light  ">
                <!--                <a class="navbar-brand" href="#">Navbar</a>-->
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#menuNavbar" aria-controls="menuNavbar"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="menuNavbar">
                    <ul class="navbar-nav ">
                        <li class="nav-item dropdown ">

                            <a type="button" class="nav-link  btn btn__catalog text-light " href="#" id="navbarDropdown"
                               role="button"
                               data-toggle="dropdown" aria-expanded="false">
                                <span class="pr-2" th:utext="#{header.navmenu.catalog}">Catalog</span>
                                <i class=" fa-solid fa-bars-staggered "></i>

                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <li th:each="global:${catalog}">
                                    <a class="dropdown-item" href="#" th:utext="${global.globalTypeName}">Global
                                        type</a>

                                    <ul class="dropdown-menu dropdown-submenu">
                                        <li th:each="subType:${global.subTypes}">
                                            <a class="dropdown-item" href="#" th:utext="${subType.subTypeName}">Sub
                                                type</a>
                                            <ul class="dropdown-menu dropdown-submenu">
                                                <li th:each="type:${subType.types}">
                                                    <a class="dropdown-item"
                                                       th:href="@{'/show/'+'type?name=' + ${type.typeName}}"
                                                       th:utext="${type.typeName}">Type</a>
                                                </li>
                                            </ul>

                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item sale__item mx-2">

                            <a class="nav-link" href="#"><img th:src="@{img/interface/sale.webp}" alt="">
                                <span class="ml-2" th:utext="#{header.navmenu.sale}">Sale</span></a>
                            <ul>
                                <li><a href="#" th:utext="#{header.navmenu.sale.promotion}">Promotion</a></li>
                                <li><a href="#" th:utext="#{header.navmenu.sale.sellOut}">Sell-out</a></li>
                                <li><a href="#" th:utext="#{header.navmenu.sale.discounts}">Discounts</a></li>
                            </ul>
                        </li>
                        <li class="nav-item new__item mx-2">
                            <a class="nav-link" href="#"><img th:src="@{img/interface/new.webp}" alt="">
                                <span class="ml-2" th:utext="#{header.navmenu.new}">New</span></a>
                        </li>


                    </ul>
                    <form class="search__input form-inline ml-auto my-2 my-lg-0">
                        <input class="form-control" type="search" placeholder="Search"
                               aria-label="Search">
                        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"><i
                                class="fas fa-search"></i></button>
                    </form>
                    <div class="favorite__icon ml-4">
                        <i class="fa-regular fa-heart  "></i>
                    </div>
                    <div class="cart__icon ml-4">
                        <a href="#" th:href="@{/cart/my-cart/}"><i class="fas fa-shopping-cart "></i></a>
                        <span id="cart-total-items" >
                            <span class="badge badge-warning badge-pill" th:if="${session.cart}!=null"
                                  th:utext="${session.cart.itemsNumber}"> </span>
                        </span>
                    </div>
                </div>
            </nav>

        </div>

    </header>




</th:block>
</body>
</html>