<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{_layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script src="../static/js/bootstrap-input-spinner.js"></script>
</head>
<body>

<!--<div class="container">-->
<!--    <div class="row">-->

<div layout:fragment="content">
                <div th:replace="_layouts/fragments/carusel :: carusel"> This header content is going to be replaced.</div>
<!--    <div th:replace="_layouts/fragments/cards :: cards"> This header content is going to be replaced.</div>-->
<!--    <div th:replace="_layouts/fragments/product-details :: product-details"> This header content is going to be replaced.</div>-->
<!--    <div th:replace="_layouts/fragments/cart :: cart"> Cart</div>-->

    <!--            <div th:replace="_layouts/fragments/carousel::carousel"> aaa</div>-->

    <div sec:authorize="hasRole('ROLE_USER')">
        Content for users
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        Content for admin
    </div>
</div>

<div layout:fragment="scripts">
    <script th:src="@{/js/bootstrap-input-spinner.js}"  type="text/javascript"></script>

<!--    <script>-->
<!--        var $input = $("input[type='number']");-->
<!--        $input.inputSpinner({-->
<!--            decrementButton: "<i class=\"cart__spinner_btn fa-solid fa-circle-minus \"></i>", // button text-->
<!--            incrementButton: "<i class=\"cart__spinner_btn fa-solid fa-circle-plus \"></i>", // ..-->
<!--            groupClass: 'input', // css class of the resulting input-group-->
<!--            buttonsClass: "",-->
<!--            buttonsOnly:true-->
<!--        })-->
<!--    </script>-->




<!--    <script>-->
<!--        $(document).ready(function() {-->
<!--            $("#locales").change(function () {-->
<!--                var selectedOption = $('#locales').val();-->
<!--                if (selectedOption !== ''){-->
<!--                    window.location.replace('?lang=' + selectedOption);-->
<!--                }-->
<!--            });-->
<!--        });-->
<!--    </script>-->
</div>
</body>
</html>