<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}">
<head>


    <meta charset="UTF-8">
    <title>products by type</title>
</head>
<body>

<div class="container">
    <div class="row">

        <div  layout:fragment="content">

            <div th:utext="${errMessage}"></div>

            <div th:each="product:${productList}">
                <div th:utext="${product.getProductName()}">

                </div>
            </div>

        </div>
    </div>

</div>
</body>
</html>